<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="utf-8" />
   <meta name="viewport" content="width=device-width, initial-scale=1.0" />
   <title>@ViewData["Title"] - Family</title>
   <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
   @RenderSection("css", false)
</head>
<body>
   <header>
      <a asp-page="/index">Home</a>
      <a asp-page="/tree">Tree</a>
      <a asp-page="/timeline">Timeline</a>
      <a asp-page="/member">New Member</a>
   </header>
   <main>
      @RenderBody()
   </main>
   <footer>
   </footer>
   <script src="~/js/site.js" asp-append-version="true"></script>
   @RenderSection("Scripts", false)
</body>
</html>