@page
@model IndexModel
@{
  ViewData["Title"] = "Home page";
}

<div>
  <h1>Family Members</h1>
  <ul>
    @foreach (var member in Model.mbrs) {
    <li>
      <a href="/member?id=@member.id">
        @member.dn
      </a>
      &nbsp;@member.dob?.Year
      &nbsp;, @member.fn @member.mn @member.ln
    </li>
    }
  </ul>
</div>