@page
@model IndexModel
@{
   ViewData["Title"] = "Home page";
}

<div>
   <ul>
      @foreach (var member in Model.Members) {
      <li>
         @member.DisplayName
      </li>
      }
   </ul>
</div>