@page
@model IndexModel
@{
   ViewData["Title"] = "Home page";
}

<div>
   <ul>
      @foreach (var member in Model.Members) {
      <li>
         <a href="/member?id=@member.Id">
            @member.DisplayName
         </a>
      </li>
      }
   </ul>
</div>