@page
@model Family.Pages.MemberModel
<h1>Edit Member</h1>
<form method="post">
  <div>
    <label asp-for="mbr.id">ID</label>
    <input type="text" asp-for="mbr.id" readonly>
  </div>

  <div>
    <label asp-for="mbr.fn">First Name</label>
    <input type="text" asp-for="mbr.fn" />
  </div>

  <div>
    <label asp-for="mbr.mn">Middle Name</label>
    <input type="text" asp-for="mbr.mn" />
  </div>

  <div>
    <label asp-for="mbr.ln">Last Name</label>
    <input type="text" asp-for="mbr.ln" />
  </div>

  <div>
    <label asp-for="mbr.dn">Display Name</label>
    <input type="text" asp-for="mbr.dn" />
  </div>

  <div>
    <label asp-for="mbr.dob">DOB</label>
    <input type="date" asp-for="mbr.dob" />
  </div>

  <div>
    <label asp-for="mbr.dod">DOD</label>
    <input type="date" asp-for="mbr.dod" />
  </div>

  <div>
    <label asp-for="mbr.note">Note</label>
    <textarea asp-for="mbr.note"></textarea>
  </div>

  <div>
    <label asp-for="mbr.crt">Date Created</label>
    <input asp-for="mbr.crt" readonly>
  </div>

  <div>
    <label asp-for="mbr.upd">Date Modified</label>
    <input asp-for="mbr.upd" readonly>
  </div>

  <input type="submit" value="Save" />
</form>

<h2>Relationships</h2>
<ul>
  @foreach (var rln in Model.Relationships) {
  <li>
    @rln.Name1
    @rln.Type
    @rln.Name2
  </li>
  }
</ul>
