@page
@model PrivacyModel
<div>
   <ul>
      @foreach (var member in @Model.Members) {
      <li>
         <a href="#">
            @member.DisplayName
         </a>
      </li>
      }
   </ul>
</div>