@page
@model Family.Pages.TimelineModel
<style>
   .timeline{position:relative;}
   .timeline div{position:absolute; width:120px; border-right:2px solid #ddd;}
   .timeline div span{display:inline-block; width:60px; text-align:right;}
</style>
<h1>Timeline</h1>
<div class="timeline">
   @foreach (var member in @Model.Members) {
   <div style="top:@(member.Id)px">
      @member.Dob?.ToString("yyyy") 
      <span>@member.DisplayName</span>
   </div>
   }
</div>