@page
@model Family.Pages.TreeModel
<partial name="_Vdn" model="Model.vdn" />
<h1>Tree</h1>
<div>
  <h2>Members</h2>
  <div class="members">
    @foreach (var mbr in Model.mbrs) {
    <div id="id@(mbr.id)"
      draggable="true"
      onclick="add(this)"
    >
      @mbr.dn
    </div>
    }
  </div>
</div>
<div>
  <h2>@Model.tree?.title</h2>
  <a href="javascript:save()" class="btn">Save</a>
  <div id="tree"
    ondragover="over(event)"
    ondrop="drop(event)"
    data-id="@Model.tree?.id"></div>
</div>

@section css {
<style>
  #tree{border:1px solid orange; position:relative; width:800px; height:400px;}
  div.members{display:flex; flex-direction:column; flex-wrap:wrap; height:150px;}
  div.member{width:100px; height:60px; text-align:center; 
    border:1px solid #ddd; position:absolute;}
</style>
}

@section Scripts {
<script src="/js/site.js"></script>
<script src="/js/member.js"></script>
<script src="/js/api.js"></script>
<script>
function add(el) {
  var name = el.innerText;
  var mbrId = el.id.replace("id", "");
  // should Member be MbrTreItm
  var mbr = new Member(10, 10, name, 0, mbrId);
  mbr.draw(document);
}
function drag(e) {
  var itmId = e.target.dat("itmId");
  console.log("drag itmId: " + itmId);
  e.dataTransfer.setData('text', itmId);
}
function drop(e) {
  var itmId = e.dataTransfer.getData('text');
  console.log(`drop itmId:${itmId}`);

  var rect = ꙩ('#tree').getBoundingClientRect();
  var y = Math.round(rect.y);
  var x = Math.round(rect.x);

  var ᵉitm = ꙩ(`[data-itmId="${itmId}"]`);
  ᵉitm.style.left = (e.x - x)+'px';
  ᵉitm.style.top = (e.y - y)+'px';
}
function dblclick(e) {
  var id = e.target.dat("itmId");
  if (id == null)
    id = e.target.parentElement.dat("itmId");
  console.log(id);
  if (id > 0)
    window.open("/treeitem?id="+id, "_blank");
}
function over(e) {
  e.preventDefault();
}
function save() {
  var ᵉtree = ꙩ("#tree");
  var treId = ᵉtree.dat("id").num();
  var mbrs = ᵉtree.ꙫ(".member");
  var arr = [];
  for (var i=0; i<mbrs.length; i++) {
    var mbr = mbrs[i];
    var itmId = mbr.dat("itmId") == null ? 0 : mbr.dat("itmId").num();
    var mbrId = mbr.dat("mbrId").num();
    var x = mbr.style.left;
    x = x.replace("px","").num();
    var y = mbr.style.top;
    y = y.replace("px", "").num();
    var itm = {"id":itmId, "x":x, "y":y};
    arr.push(itm);
    if (itmId == 0)
      api.ins(treId, mbrId, x, y);
      // todo: upd itm id in dom
    else
      api.upd(itmId, x, y);
  }
  console.log(arr);
}
var jsn = "";
var api = new Api();
window.onload = () => {
  jsn = @Html.Raw(Model.jsn);
  for (var i=0; i<jsn.length; i++) {
    var m = new Member(jsn[i].x, jsn[i].y, jsn[i].title, jsn[i].itmId, jsn[i].mbrId);
    m.draw(document);
  }
}
</script>
}