@page
@model Family.Pages.TreeItemModel
<h1>Tree Item</h1>
<form method="post">
<div>
  <label asp-for="itm.id">ID</label>
  <input type="text" asp-for="itm.id" readonly />
</div>

<div>
  <label asp-for="itm.treeId">Tree ID</label>
  <input type="text" asp-for="itm.treeId" />
</div>

<div>
  <label asp-for="itm.mbrId">Member ID</label>
  <input type="text" asp-for="itm.mbrId" />
</div>

<div>
  <label asp-for="itm.x">X</label>
  <input type="text" asp-for="itm.x" />
</div>

<div>
  <label asp-for="itm.y">Y</label>
  <input type="text" asp-for="itm.y" />
</div>

<div>
  <label asp-for="itm.crt">Date Created</label>
  <input type="datetime" asp-for="itm.crt" readonly />
</div>

<div>
  <label asp-for="itm.upd">Date Modified</label>
  <input type="datetime" asp-for="itm.upd" readonly />
</div>

<div>
  <input type="submit" value="Save" />
</div>
</form>