@page
@model Family.Pages.TreeModel
<partial name="_Vdn" model="Model.vdn" />
<h1>Tree</h1>
<div>
   <h2>Members</h2>
   <div class="members">
      @foreach (var member in Model.Members) {
      <div id="id@(member.Id)" draggable="true" onclick="add(this)">
         @member.DisplayName
      </div>
      }
   </div>
</div>
<div>
   <h2>@Model.Tree?.Title</h2>
   <a href="javascript:save()" class="btn">Save</a>
   <div id="tree" ondragover="over(event)" ondrop="drop(event)"></div>
</div>

@section css {
<style>
   #tree{border:1px solid orange; position:relative; width:800px; height:400px;}
   div.members{display:flex; flex-direction:column; flex-wrap:wrap; height:150px;}
   div.member{width:100px; height:60px; text-align:center; 
      border:1px solid #ddd; position:absolute;}
</style>
}

@section Scripts {
<script>
class Member {
   constructor(x, y, name, id) {
      this.x = x;
      this.y = y;
      this.name = name;
      this.id = id;
   }
   draw() {
      var tree = document.getElementById('tree');
      var span = document.createElement('span');
      span.innerText = this.name;
      var div = document.createElement('div');
      div.style.left = this.x+'px';
      div.style.top = this.y+'px';
      div.setAttribute('class', 'member');
      div.setAttribute('draggable', 'true');
      div.setAttribute('ondragstart', 'drag(event)');
      div.setAttribute('ondblclick', 'dblclick(event)');
      div.setAttribute('data-id', this.id);
      div.appendChild(span);
      tree.appendChild(div);
   }
}
class Api
{
   update(id, x, y) {
      fetch("https://localhost:7105/api/tree/upd", {
         method:"POST",
         headers:{ "Content-Type":"application/json" },
         body:JSON.stringify({
            "id":id,
            "x":x,
            "y":y
         })
      })
      .then(function(res) {
         if (res.ok) {
            console.log(res.statusText)
         } else {
            console.log(res.statusText)
         }
      })
   }
}
function add(el) {
   var name = el.innerText;
   var member = new Member(10, 10, name, el.id);
   member.draw();
}
function drag(e) {
   e.dataTransfer.setData('text', e.target.attributes["data-id"].value);
}
function drop(e) {
   var id = e.dataTransfer.getData('text');
   var el = document.querySelector('[data-id="'+id+'"]');
   var rect = document.querySelector('#tree').getBoundingClientRect();
   var y = Math.round(rect.y);
   var x = Math.round(rect.x);
   el.style.left = (e.x - x)+'px';
   el.style.top = (e.y - y)+'px';
}
function dblclick(e) {
   var id = e.target.getAttribute("data-id");
   if (id == null)
      id = e.target.parentElement.getAttribute("data-id");
   console.log(id);
   if (id > 0)
      window.open("/treeitem?id="+id, "_blank");
}
function over(e) {
   e.preventDefault();
}
function save() {
   var tree = document.getElementById("tree");
   var members = tree.querySelectorAll(".member");
   var arr = [];
   for (var i=0; i<members.length; i++) {
      var id = members[i].getAttribute("data-id");
      id = Number(id);
      var x = members[i].style.left;
      x = Number(x.replace("px", ""))
      var y = members[i].style.top;
      y = Number(y.replace("px", ""))
      var item = {"id":id, "x":x, "y":y};
      arr.push(item);
      api.update(id, x, y);
   }
   console.log(arr);
}
var json = "";
var api = new Api();
window.onload = () => {
   json = @Html.Raw(Model.Json);
   for (var i=0; i<json.length; i++) {
      var m = new Member(json[i].X, json[i].Y, json[i].Title, json[i].Id);
      m.draw();
   }
}
</script>
}